
a.card {
  transition: all 500ms;
}

.card {
  border-radius: 0;

  &_rounded {
    border-radius: 0.25rem;
  }
}

.card_blog {
  .entry-title {
    display: -webkit-box;
    min-height: 74px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
