/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gfield.skyfish-gf-form-group {
  position: relative;

  // @media (max-width: 641px) {
  //   margin-bottom: 16px !important;
  // }

  label.gfield_label {
    position: absolute !important;
    top: 12px;
    left: 15px !important;
    background-color: white;
    color: #a9a8a9 !important;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin: 0 !important;
    cursor: pointer;
    text-transform: initial;
  }

  &.skyfish-gf-form-select-group {
    label.gfield_label {
      top: -12px;
    }
  }

  &.is-focused {
    label.gfield_label {
      top: -4px !important;
      left: 11px !important;
      font-size: 12px !important;
      font-weight: bold !important;
      padding: 0 4px !important;
    }

    &.gfield_type_textarea {
      label.gfield_label {
        top: -6px !important;
      }
    }
  }

  .gfield_required {
    display: none;
  }

  .ginput_container {
    input,
    select {
      background-color: white !important;
      height: 44px !important;
      color: #3e3e3e !important;
      padding: 8px 15px !important;
      border-color: #dbd9d6 !important;
      border-radius: 4px !important;

      &[readonly] {
        background-color: #eee !important;
      }

      &:focus {
        box-shadow: none;
      }
    }

    textarea {
      padding: 8px 15px !important;
    }
  }

  &.is-invalid {
    .ginput_container {
      input,
      select,
      textarea {
        border-color: #f7323f !important;
      }
    }
  }
}

.contact-form {
  .gform_button {
    @extend .btn;
    @extend .btn-primary;
  }
}
