
.flex-layout {
  position: relative;

  &.viewport_height {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_content-col {
    display: flex;
    align-items: center;
  }

  .flex-layout_heading {
    @media (min-width: 1200px) {
      font-size: 56px;
    }
  }
}
