/* stylelint-disable no-descending-specificity */
header {
  > nav {
    &.navbar {
      padding: 0;

      .navbar-brand {
        padding: 12px;
        margin: 0;
      }
    }

    .navbar-toggler {
      padding: 12px;
      border: none;
      border-radius: 0;

      &:focus {
        box-shadow: none !important;
      }

      .icon-bar {
        display: block;
        width: 40px;
        height: 4px;
        border-radius: 0;
        background-color: $white;
        transition: all 0.2s;
        margin-top: 12px;

        &:first-child {
          margin-top: 2px;
        }

        &:last-child {
          margin-bottom: 2px;
        }

        &:nth-of-type(1) {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }

        &:nth-of-type(2) {
          opacity: 0;
          filter: alpha(opacity=0);
        }

        &:nth-of-type(3) {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }
      }

      &.collapsed {
        .icon-bar:nth-of-type(1) {
          transform: rotate(0);
        }

        .icon-bar:nth-of-type(2) {
          opacity: 1;
          filter: alpha(opacity=100);
        }

        .icon-bar:nth-of-type(3) {
          transform: rotate(0);
        }
      }

      &:not(.collapsed) {
        .icon-bar:first-child,
        .icon-bar:last-child {
          position: relative;
          width: 56px;
          left: 6px;
          top: 1px;
        }

        .icon-bar:first-child {
          margin-top: 0;
        }
      }
    }

    .navbar-collapse {
      background-color: $secondary !important;

      @media (min-width: 992px) {
        height: 72px;
      }

      @media (min-width: 1200px) {
        height: 80px;
      }

      @media (max-width: 991px) {
        display: block;
        height: calc(100vh - 64px);
        position: absolute;
        top: 64px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
      }

      &:not(.show) {
        display: initial;
      }

      &.show {
        left: 16.67%;
        width: 83.33%;
      }
    }

    .main-nav-menu-items_container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 3rem 0;

      @media (min-width: 992px) {
        padding: 0;
        margin-right: 1rem;
      }

      .main-nav-menu-items {
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 991px) {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          text-align: center;
        }

        @media (min-width: 992px) {
          display: flex;
          justify-content: space-evenly;
        }

        .menu-item {
          @media (min-width: 992px) {
            &.menu-item-has-children:hover .sub-menu,
            &.menu-item-has-children:focus .sub-menu {
              display: block;
            }
          }

          a {
            display: block;
            color: $white;
            padding: 0.325rem;
            text-decoration: none;

            &:hover,
            &:focus {
              background-color: $primary;
            }

            @media (min-width: 992px) {
              height: 72px;
              line-height: 72px;
              padding: 0 0.25rem;
            }

            @media (min-width: 1200px) {
              height: 80px;
              line-height: 80px;
            }
          }
        }

        .sub-menu {
          list-style: none;
          padding: 0;
          text-align: center;

          @media (min-width: 992px) {
            display: none;
            position: absolute;
            padding: 0;
            background-color: $white;
          }

          .menu-item a {
            height: initial;
            line-height: initial;
            text-align: left;
            color: $gray;
            background-color: $white;
            padding: 24px 16px;

            &:hover,
            &:focus {
              color: $gray !important;
              background-color: $white !important;
            }

            img {
              height: 56px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
