
/* stylelint-disable no-descending-specificity */
header {
  > nav {
    &.navbar {
      padding: 0;

      .navbar-brand {
        padding: 12px;
        margin: 0;
      }
    }

    button.navbar-toggler {
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }

    #main-nav-icon {
      width: 40px;
      height: 32px;
      position: relative;
      margin: 0;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;

      &.open {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 0;
            left: 6px;
          }

          &:nth-child(2) {
            width: 0%;
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 28px;
            left: 6px;
          }
        }
      }

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0;
          transform-origin: left center;
        }

        &:nth-child(2) {
          top: 14px;
          transform-origin: left center;
        }

        &:nth-child(3) {
          top: 28px;
          transform-origin: left center;
        }
      }
    }

    .navbar-collapse {
      @media (max-width: 991px) {
        height: calc(100vh - 66px);
        transition: all 500ms;
      }

      @media (min-width: 992px) {
        height: 72px;
      }

      @media (min-width: 1200px) {
        height: 80px;
      }
    }

    .main-nav-menu-items_container {
      display: flex;
      width: 100%;
      justify-content: center;

      @media (max-width: 991px) {
        height: 100%;
      }

      @media (min-width: 992px) {
        margin-right: 1rem;
      }

      .main-nav-menu-items {
        list-style: none;
        padding: 0;
        margin: 0;

        @media (max-width: 991px) {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          text-align: center;
        }

        @media (min-width: 992px) {
          display: flex;
          justify-content: space-evenly;
        }

        .menu-item {
          @media (min-width: 992px) {
            &.menu-item-has-children:hover .sub-menu,
            &.menu-item-has-children:focus .sub-menu {
              display: block;
            }
          }

          a {
            display: block;
            color: white;
            padding: 0.325rem;
            text-decoration: none;

            &:hover,
            &:focus {
              background-color: $primary;
            }

            @media (min-width: 992px) {
              height: 72px;
              line-height: 72px;
              padding: 0 0.25rem;
            }

            @media (min-width: 1200px) {
              height: 80px;
              line-height: 80px;
            }
          }
        }

        .sub-menu {
          list-style: none;
          padding: 0;
          text-align: center;

          @media (min-width: 992px) {
            display: none;
            position: absolute;
            padding: 0;
            background-color: white;
          }

          .menu-item a {
            height: initial;
            line-height: initial;
            text-align: left;
            color: #555;
            background-color: white;
            padding: 24px 16px;

            &:hover,
            &:focus {
              color: #555 !important;
              background-color: white !important;
            }

            img {
              height: 56px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
