
.py-15,
.pt-15 {
  padding-top: 9rem !important;
}

.py-15,
.pb-15 {
  padding-top: 9rem !important;
}

.py-10,
.pt-10 {
  padding-top: 6rem !important;
}

.py-10,
.pb-10 {
  padding-bottom: 6rem !important;
}
