/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #f44418,
  secondary: #161826,
  white: #fff
);

$primary: #f44418;
$secondary: #161826;
$white: #fff;
$black: #000;
