/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #f44418,
  secondary: #161826,
  white: #fff,
  black: #000,
  gray: #9e9e9e,
  lightgray: #e5e5e5
);

$primary: #f44418;
$secondary: #161826;
$white: #fff;
$black: #000;
$gray: #9e9e9e;
$lightgray: #e5e5e5;

$font_heading: "Oswald";
